@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ececec;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "Georgia", sans-serif;
  line-height: 1;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  block-size: auto;
  max-inline-size: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  scrollbar-width: 8px;
  scrollbar-color: #545454 #d6d6d6;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border: 0px none #fff;
  background-color: #6e6e6e;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #545454;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__start {
  padding-top: 100px;
}

[class*=__container] {
  max-width: 1840px;
  margin: 0 auto;
  padding: 0 20px;
}

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
}

h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
}

h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
}

h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
}

.paragraph-l {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /*  or 24px */
}

.paragraph-s {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 45px;
  gap: 10px;
  cursor: pointer;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  border-radius: 100px;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.btn-primary {
  background: #f1cdb3;
}

.btn-primary:hover {
  background: #fddcc4;
}

.btn-secondary {
  background: transparent;
  border: 2px solid #f1cdb3;
}

.btn-secondary:hover {
  background: #fddcc4;
}

body {
  font-weight: 400;
  font-style: normal;
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  min-width: 320px;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

/* section not-only */

.no-webp .not-only{
  background-image: url(../images/bg/start.jpg); }

.not-only {
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

.not-only__container {
  padding-top: 100px;
}

.not-only__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
}

.not-only__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 460px;
  gap: 42px;
}

.not-only__right {
  padding-top: 80px;
}

.not-only__heading {
  max-width: 310px;
  color: #ffffff;
}

.not-only__img {
  width: 698px;
  height: 728px;
}

/* section about */

.about {
  background: #ffffff;
}

.about__content {
  padding: 0 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
}

.about__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  max-width: 430px;
  padding-top: 14px;
}

.about__heading {
  color: #545454;
  max-width: 370px;
}

.about__subheading {
  color: #4c4c4c;
}

/* section our-friends */

.our-friends {
  background: #f6f6f6;
}

.our-friends__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 59px;
}

.our-friends__heading {
  color: #545454;
  text-align: center;
}

.our-friends__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 53px;
}

.our-friends__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
}

.arrow {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow:hover {
  border: 2px solid #fddcc4;
  background: #fddcc4;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  border-radius: 9px;
  background: #fafafa;
  overflow: hidden;
  padding-bottom: 30px;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.card:hover {
  background: #ffffff;
}

.card:hover .card__btn {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}

.card__title {
  color: #545454;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.card__btn {
  padding: 14px 45px;
  -webkit-transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

/* section help */

.help__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.help__heading {
  color: #545454;
  text-align: center;
}

.help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 55px;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  width: 85.8%;
}

.help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}

.help__item img {
  width: 60px;
  height: 60px;
}

.help__item h4 {
  color: #545454;
}

/* section donation */

.donation {
  background: #f6f6f6;
}

.donation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.donation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  max-width: 380px;
  margin-top: -2px;
}

.donation__heading {
  color: #545454;
}

.donation__subheading {
  color: #545454;
}

.donation__credit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background: #f1cdb3;
  border-radius: 9px;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.donation__credit-card:hover {
  background: #fddcc4;
}

.donation__credit-card h4 {
  color: #545454;
}

.donation__description {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b2b2b2;
}

.no-webp .footer{
  background: url(../images/bg/footer.png); }

.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

.footer__container {
  padding-top: 40px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__heading {
  color: #ffffff;
}

.footer__subtitle {
  color: #f1cdb3;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  cursor: pointer;
}

.footer__contact svg path {
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.footer__contact:hover .footer__subtitle {
  color: #fafafa;
}

.footer__contact:hover svg path {
  fill: #fafafa;
}

.footer__questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
  max-width: 280px;
  padding-top: 16px;
}

.footer__waiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 33px;
  max-width: 302px;
  padding-top: 16px;
}

.header {
  position: absolute;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.header__container {
  padding-top: 30px;
  padding-bottom: 0;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.logo__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 10px 0 0 4px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  padding-bottom: 3px;
  padding-right: 1px;
}

.menu__link {
  color: #cdcdcd;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.menu__link:hover {
  color: #fafafa;
}

.menu__link_about {
  color: #fafafa;
  padding-bottom: 4px;
  border-bottom: 3px solid #f1cdb3;
  pointer-events: none;
}

.burger-wrapper {
  display: none;
}

.burger {
  display: none;
}

.pets {
  /* slider */
  background: #f6f6f6;
}

.pets .header {
  position: static;
  background: #ffffff;
}

.pets .header__container {
  padding-bottom: 30px;
  padding-top: 30px;
}

.pets .logo__title {
  color: #545454;
}

.pets .logo__subtitle {
  color: #292929;
}

.pets .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  padding-bottom: 3px;
  padding-right: 1px;
}

.pets .menu__link {
  color: #545454;
}

.pets .menu__link:hover {
  color: #292929;
}

.pets .menu__link_pets {
  color: #292929;
  padding-bottom: 4px;
  border-bottom: 3px solid #f1cdb3;
  pointer-events: none;
}

.pets .menu__link_about {
  padding-bottom: none;
  border-bottom: none;
  pointer-events: all;
}

.pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 57.5px;
}

.pets__title {
  color: #545454;
  text-align: center;
}

.pets__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pets__card {
  max-width: 270px;
}

.pets__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.pets__pagination {
  background: #f1cdb3;
  pointer-events: none;
}

.pets__pagination h4 {
  color: #292929;
}

.pets__arrow {
  border: 2px solid #cdcdcd;
}

.pets__arrow_active {
  border: 2px solid #f1cdb3;
}

.pets__arrow_disable {
  pointer-events: none;
}

@media (min-width: 480px) {
  [class*=__container] {
    max-width: clamp(480px, 100vw, 767px);
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 767px) {
  [class*=__container] {
    max-width: clamp(767px, 100vw, 1199px);
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1199px) {
  [class*=__container] {
    max-width: clamp(992px, 100vw, 1280px);
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 480px) {
  [class*=__container] {
    max-width: clamp(300px, 100vw, 480px);
    padding-left: 10px;
    padding-right: 10px;
  }
}

.webp .not-only{ background-image: url(../images/bg/start.webp); }

.webp .footer{ background: url(../images/bg/footer.webp); }