.footer {
  background-image: url(../images/bg/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;

  &__container {
    padding-top: 40px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__heading {
    color: $colorWhite;
  }

  &__subtitle {
    color: $colorPrimary;
    transition: color 0.3s ease-in-out;
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    svg path {
      transition: fill 0.3s ease-in-out;
    }

    &:hover {
      .footer__subtitle {
        color: $colorLight;
      }

      svg path {
        fill: $colorLight;
      }
    }
  }

  &__questions {
    gap: 42px;
    max-width: 280px;
    padding-top: 16px;
  }

  &__waiting {
    gap: 33px;
    max-width: 302px;
    padding-top: 16px;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: $pc) {
    &__container {
      padding-top: 12px;
    }

    &__content {
      justify-content: center;
      column-gap: 60px;
      row-gap: 65px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      flex: 0 0 50%;
    }

    &__image {
      max-width: 300px;
      max-height: 310px;
      align-self: center;
    }
  }
}
