.header {
  position: absolute;
  width: 100%;
  height: fit-content;

  &__container {
    padding-top: 30px;
    padding-bottom: 0;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
  }
  &__menu {
  }
}

.logo {
  z-index: 30;

  &__title {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $colorPrimary;
    transition: color 0.3s ease-in-out;
  }

  &__subtitle {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;

    color: $colorWhite;
    transition: color 0.3s ease-in-out;

    padding: 10px 0 0 4px;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 36px;
    padding-bottom: 3px;
    padding-right: 1px;
  }
  &__item {
  }
  &__link {
    color: $colorDarkS;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $colorLight;
    }

    &_about {
      color: $colorLight;
      padding-bottom: 4px;
      border-bottom: 3px solid $colorPrimary;
      pointer-events: none;
    }
  }
}

.burger-wrapper {
  display: none;
}

.burger {
  display: none;
}

@media (max-width: $tablet) {
  .burger-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .burger {
    display: block;
    position: relative;
    min-width: 30px;
    min-height: 22px;
    background: none;
    box-shadow: none;
    border: none;
    outline: 0;
    z-index: 30;
    transition: all 0.3s ease;
    padding: 20px;

    span {
      position: absolute;
      left: 50%;
      width: 30px;
      height: 2px;
      background-color: #d3be73;

      &:nth-child(1) {
        top: 0;
        transform: translateX(-50%) rotate(180deg);
        transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.2s,
          transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.05s;
      }
      &:nth-child(2) {
        top: 10px;
        transform: translateX(-50%) rotate(0deg);
        transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s,
          transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.1s;
      }
      &:last-child {
        top: 20px;
        transform: translateX(-50%) rotate(-180deg);
        transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.4s,
          transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.15s;
      }
    }
    &.open {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: translateX(-20%) rotate(90deg);
          transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
            transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translateX(-55%) rotate(90deg);
          transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
            transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
        }
        &:last-child {
          top: 50%;
          transform: translateX(-90%) rotate(90deg);
          transition: top 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
            transform 0.3s 3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s 3s;
        }
      }
    }
  }

  .menu {
    &__list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 43px;
      width: 100%;
      height: 100%;
      background: $colorDark3xl;
    }

    &__link {
      font-size: 32px;
      color: $colorDarkS;

      &_about {
        color: $colorLight;
      }
    }
  }

  .header {
    &__content {
      padding: 0 10px;
    }

    &__menu {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
      height: 100%;
      margin: 0;
      z-index: 20;

      &.open {
        transform: translateX(0);
        background-color: rgba(0, 0, 0, 0.3);
        transition: transform 0.5s ease-in-out,
          background-color 2s ease-in-out 0.5s;
      }
    }
  }
}
