.pets {
  .header {
    position: static;
    background: $colorWhite;
    &__container {
      padding-bottom: 30px;
    }
  }
  .logo {
    &__title {
      color: $colorDarkL;
    }

    &__subtitle {
      color: $colorDark3xl;
    }
  }
  .menu {
    &__list {
      display: flex;
      gap: 36px;
      padding-bottom: 3px;
      padding-right: 1px;
    }
    &__item {
    }
    &__link {
      color: $colorDarkL;

      &:hover {
        color: $colorDark3xl;
      }

      &_pets {
        color: $colorDark3xl;
        padding-bottom: 4px;
        border-bottom: 3px solid $colorPrimary;
        pointer-events: none;
      }
      &_about {
        padding-bottom: none;
        border-bottom: none;
        pointer-events: all;
      }
    }
  }
  /* slider */
  background: $colorLightL;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;
  }
  &__title {
    color: $colorDarkL;
    text-align: center;
  }

  &__slider {
  }
  &__cards {
    display: flex;
    row-gap: 30px;
    column-gap: 40px;
    flex-wrap: wrap;
  }
  &__card {
    max-width: 270px;
  }

  &__navigation {
    display: flex;
    gap: 20px;
  }

  &__pagination {
    background: $colorPrimary;
    pointer-events: none;
    h4 {
      color: $colorDark3xl;
    }
  }
  &__arrow {
    border: 2px solid $colorDarkS;

    &_active {
      border: 2px solid $colorPrimary;
    }

    &_disable {
      pointer-events: none;
    }
  }
}
